{% extends 'base.html.twig' %}

{% block body %}

<br><br><br><br>
<h1>HOME ! BIENVENUE ICI TOCARD</h1>
<br><br>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic, dicta minima! Possimus illo doloremque minima
 cumque nobis fugit suscipit cupiditate inventore ipsam saepe tenetur expedita ut porro, soluta dolorem sapiente!
 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic, dicta minima! Possimus illo doloremque minima
 cumque nobis fugit suscipit cupiditate inventore ipsam saepe tenetur expedita ut porro, soluta dolorem sapiente!
 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic, dicta minima! Possimus illo doloremque minima
 cumque nobis fugit suscipit cupiditate inventore ipsam saepe tenetur expedita ut porro, soluta dolorem sapiente!</p>

{% endblock body %}